'scopeName': 'source.scilab'
'name': 'Scilab'
'fileTypes': ['sci', 'sce']

'patterns': [
	{
		'begin': '//'
		'end': '\\n'
		'name': 'comment.line.double-slash.scilab'
	}
	{
		'match': '\\b(break|case|catch|clear|continue|do|else|elseif|end|endfunction|exit|for|if|pause|pwd|quit|return|select|then|try|while)\\b'
		'name': 'keyword.control.scilab'
	}
	{
		'match': '\\.\\.\\.\\s*$'
		'name': 'punctuation.separator.continuation.scilab'
	}
	{
		'match': '\\b(function)\\s+(?:[^=]+=\\s*)?(\\w+)(?:\\s*\\(.*\\))?'
		'captures':
			'1':
				'name': 'keyword.control.scilab'
			'2':
				'name': 'entity.name.function.scilab'
		'name': 'meta.function.scilab'
	}
	{
		'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((E|e)(\\+|-)?[0-9]+)?\\b'
		'name': 'constant.numeric.scilab'
	}
	{
		'match': '%(pi|e|i|eps|inf|nan|t|T|f|F|s|z)\\b'
		'name': 'support.constant.scilab'
	}
	{
		'begin': '(?<![\\w\\]\)])\''
		'beginCaptures':
			'0':
				'name': 'punctuation.definition.string.begin.scilab'
		'end': '\'(?!\')'
		'endCaptures':
			'0':
				'name': 'punctuation.definition.string.end.scilab'
		'name': 'string.quoted.single.scilab'
		'patterns': [
			{
				'match': '\'\'|""'
				'name': 'constant.character.escape.scilab'
			}
		]
	}
	{
		'begin': '"'
		'beginCaptures':
			'0':
				'name': 'punctuation.definition.string.begin.scilab'
		'end': '"(?!")'
		'endCaptures':
			'0':
				'name': 'punctuation.definition.string.end.scilab'
		'name': 'string.quoted.double.scilab'
		'patterns': [
			{
				'match': '\'\'|""'
				'name': 'constant.character.escape.scilab'
			}
		]
	}
]
